@using System.Globalization
@using Rollout.Lib.Models
@model IList<Feature>
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet" />

    <!-- Style -->
    <link rel="stylesheet" href="~/styles/style.css" />

    <title>Rollout Index</title>
  </head>
  <body>
    <div class="content">
      <div class="container">
        <h2 class="mb-5">Rollout List</h2>

        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Percentage</th>
                <th scope="col">Users</th>
                <th scope="col">Groups</th>
                <th scope="col" colspan="2">Actions</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var feature in Model)
              {
                <tr scope="row">
                  <th>@feature.Name</th>
                  <td>@feature.Percentage%</td>
                  <td>@string.Join(", ", feature.Users)</td>
                  <td>@string.Join(", ", feature.Groups)</td>
                  <td>
                    <a href="/internal/rollout-ui/new?featureName=@feature.Name" class="more m-r-45">Details</a>
                    <a href="#" class="more p-md-3">Remove</a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
